# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [19]:
# Your code here:
salaries.tail()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33182,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,115932.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [12]:
# Your code here:
salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [18]:
# Your code here:
num_hourly_employees=salaries.isna().sum()['Annual Salary']
num_salary_employees=salaries.isna().sum()['Hourly Rate']

print('hourly employees =', num_hourly_employees )
print('salaried employees =', num_salary_employees )
print('total employees is =',num_hourly_employees + num_salary_employees )

hourly employees = 8022
salaried employees = 25161
total employees is = 33183

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [26]:
# Your code here:

salaries.Department.value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [32]:
# Your code here:
hour_rate_mean=salaries['Hourly Rate'].mean(skipna=True)
hour_rate_std=salaries['Hourly Rate'].std(skipna=True)
print(hour_rate_mean)
print(hour_rate_std)

32.78855771628128
12.11257268427681

In [37]:
from scipy.stats import ttest_1samp

In [38]:
ttest_1samp(salaries['Hourly Rate'].dropna(), 30)
#resultado= statistic es el valor t del t test, y pvalue es idem, con el resultado
#mostrado podemos rechazar la hipotesis nula 'p<0.05'

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [54]:
# Your code here:

#serie con todos los salarios de los policias
sample=salaries[salaries.Department=='POLICE']['Annual Salary'].dropna()

#aplicamos t-test method
ttest_1samp(sample, 86000)

#null hypotesis is rejected

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.0020603403550965137)

Using the `crosstab` function, find the department that has the most hourly workers.

In [64]:
# Your code here:
pd.crosstab(salaries.Department, salaries['Salary or Hourly']).sort_values(by='Hourly', ascending=False)

#Streets and Sanitation has the most hourly workers

Salary or Hourly       Hourly  Salary
Department
STREETS & SAN            1862     336
WATER MGMNT              1513     366
OEMC                     1273     829
AVIATION                 1082     547
GENERAL SERVICES          765     215
TRANSPORTN                725     415
PUBLIC LIBRARY            299     716
FAMILY & SUPPORT          287     328
CITY COUNCIL               64     347
FINANCE                    44     516
LAW                        40     367
ANIMAL CONTRL              19      62
POLICE                     10   13404
MAYOR'S OFFICE              8      77
BUSINESS AFFAIRS            7     164
CULTURAL AFFAIRS            7      58
COMMUNITY DEVELOPMENT       4     203
HUMAN RESOURCES             4      75
HEALTH                      3     485
PROCUREMENT                 2      90
FIRE                        2    4639
BUDGET & MGMT               2      44
HUMAN RELATIONS             0      16
INSPECTOR GEN               0      87
DoIT                        0      99
LICENSE APPL COMM           0       1
DISABILITIES                0      28
COPA                        0     116
CITY CLERK                  0      84
POLICE BOARD                0       2
BUILDINGS                   0     269
BOARD OF ETHICS             0       8
BOARD OF ELECTION           0     107
TREASURER                   0      22
ADMIN HEARNG                0      39

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [69]:
# Your code here:

sample_sns=salaries[salaries.Department=='STREETS & SAN']['Annual Salary'].dropna()

ttest_1samp(sample_sns, 35).pvalue/2  #dividimos entre 2 para volverlo "one-sided"

#we can reject the null hypothesis with that low p-value

2.300376818040658e-205

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [77]:
from scipy import stats

In [87]:
# Your code here:

#obtener el promedio del pago por hora
salaries['Hourly Rate'].dropna().mean()

32.78855771628128

In [93]:
#obtener el intervalo de confianza
from scipy.stats import t

#a la función t.interval respectivamente insertamos intervalo de confianza, grados de libertad, promedio y desviacio´n estándar
t.interval(0.95, num_hourly_employees-1, loc=salaries['Hourly Rate'].dropna().mean(),
           scale=salaries['Hourly Rate'].dropna().std())

(9.044768578822303, 56.532346853740265)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [100]:
# Your code here:

#First we determine de degrees of freedom for the salaried policemen
num_salaried_police=len(salaries[(salaries.Department=='POLICE')&(salaries['Salary or Hourly']=='Salary')])
num_salaried_police
#t.interval(0.95, num_sala)

13404

In [104]:
#now get the mean and std for salaried policemen
salaries[(salaries.Department=='POLICE')&(salaries['Salary or Hourly']=='Salary')]['Annual Salary'].mean()

86486.41450313339

In [109]:
print('the 95% confidence interval for policemen salary is:')
#insert values into t.interval, remember, loc means average and scale is for standard deviation
print(t.interval(0.95, num_salaried_police-1, loc=salaries[(salaries.Department=='POLICE')&(salaries['Salary or Hourly']=='Salary')]['Annual Salary'].mean(), 
          scale=salaries[(salaries.Department=='POLICE')&(salaries['Salary or Hourly']=='Salary')]['Annual Salary'].std()))

the 95% confidence interval for policemen salary is:
(50670.270739579166, 122302.55826668761)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [118]:
# Your code here:
print('number of hourly employees',num_hourly_employees)
print('number of salaried employees',num_salary_employees)

print('\nchallenge statements: \n \
H0: hourly workers is 25% \n \
H1: hourly workers is different from 25% \n \
confidence level=95%')

number of hourly employees 8022
number of salaried employees 25161

challenge statements:
 H0: hourly workers is 25%
 H1: hourly workers is different from 25%
 confidence level=95%

In [119]:
from statsmodels.stats.proportion import proportions_ztest

In [127]:
count=num_hourly_employees
nobs=num_hourly_employees+num_salary_employees #total number of the population
value= 0.25  #assumption of H0 

zvalue, pvalue=proportions_ztest(count,nobs,value)

print('Pvalue =', round(pvalue,5))

Pvalue = 0.00045

In [128]:
if pvalue<0.05:
    print('H0 null hypothesis is rejected')
else:
    print('H0 null hypothesis is not rejectedd')

H0 null hypothesis is rejected

In [131]:
print('The real proportion of hourly workers at the City of Chicago is', round(count/nobs,3), '\n \
This is outside of the 95% confidence interval')

The real proportion of hourly workers at the City of Chicago is 0.242
 This is outside of the 95% confidence interval